.Navigation {
  .Navbar {
    height: 48px;
    background-color: #323979;

    .Navlink {
      color: #ddd;
      outline: none;
      margin-left: 20px;
      text-shadow: 1px 1px 1px #222;
      text-transform: uppercase;

      &:last-child {
        margin-right: 20px;
      }
    }
  }
}
