.Product {
  padding: 20px;

  .Card {
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    img {
      padding-top: 10px;
      min-height: 150px;
      max-height: 240px;
      object-fit: contain;
    }
  }
}
