

.table {
  width: 100%;
}

thead {
  height: 50px;
}

tbody {
  height: 200px;
}

.Navlink {
  outline: none;
  text-shadow: inherit;
  color: #fff;
}
a:link {
  text-decoration: none;
}

.bg {
  background-color: #000;
  background-repeat: no-repeat;
  height: 200%;
}

.Devicecard_bg {
  
  background-color: #eee;
  // box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
  //   rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  
  border-radius: 8px;
}

.info_bg {
  background-color: #fff;
  
}


.title {
  text-align: right;
  text-transform: capitalize;
  font-weight: bold;
}

.del-icon {
  font-size: 2em;
  color: rgba(233, 89, 89, 0.87);
}

.del-icon:hover {
  scale: 1.2;
}


.done-icon{
  font-size: 2em;
  color: rgba(66, 177, 14, 0.979);

}
// .done-icon:hover {
//   scale: 1.1;
// }

.My_device{
  
    .page-link {
      color: #00f;
    }
    .page-link:active {
      color: #fff !important;
    }
    .logo{
      width: 14%;
    }
    
  
}

.glow {
  
  color: rgb(8, 46, 82);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #3977c9, 0 0 1px #3689cc, 0 0 1px #3170c2, 0 0 1px #2e6cb3;
  }
 
}